@mixin flex-box($justify: center, $align: center, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}
/// @param {String} $width - break point type - Can be "max-width" or "min-width"
@mixin screen-lg($width: 'min-width') {
    @media screen and (#{$width}: $screen-lg) {
      @content;
    }
}
@mixin screen-xs($width: 'min-width') {
    @media screen and (#{$width}: $screen-xs) {
      @content;
    }
}
