// global colors
$white:       #FFFFFF;
$black:       #000000;
// screen size breakpoints
$screen-lg:     992px;
$screen-xs:     375px;
// color palette
$whisper:     #EEEEEE;
$white-smoke: #EFEFEF;
$grey-1:      #8F969C;
$dark-cyan:   #445461;
$dark-medium: #46525E;
